html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
}
.home {
    background-color: #005073;
    margin: 0;
}
.home .header{
    padding-top: 48px;
}
.home .section{
    padding-top: 149px;
    padding-bottom: 149px;
    max-width: 616px;
}
.navbar-nav{
    padding-bottom: 47px;
}
.tulisan{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #FBFDFB;
}
.section .tulisan{
    font-family: 'Italianno', cursive;
    font-size: 120px;
    line-height: 120px;
    text-align: center;
    color: #FBFDFB;
}
.home .tulisan a{
    text-decoration: none;
    color: #FBFDFB;
}
.about{
    padding: 48px 48px 48px 48px;
}
.photo{
    display: flex;
    align-items: center;
}
.photo img{
    height: 500px;
}
.about2 .tulisan p{
    text-decoration: none;
    color: #000000;
    font-size: 35px;
    margin: 0%;
}
.about2 h1{
    color: #000000;
    font-size: 35px;
    margin: 0%;
}
.about2 .tulisan{
    max-width: 570px;
    max-height: 570px;
    text-align: justify;
    margin-left: 28px;
}
.about2 .photo{
    margin-right: 28px;
}
.about2{
    margin-top: 45px;
}
.about .navbar-nav{
    padding: 0;
    margin-top: 44px;
}
.about .tulisan a{
    text-decoration: none;
    color: #000000;
}
.about .tulisan{
    color: #000000;
}
.photo2 img{
    width: 300px;
    padding-right: 20%;
}
.experiences{
    background-color: #005073;
    padding: 48px 48px 0px 48px;
}
.experiences2 .tulisan{
    font-size: 20px;
    max-width: 600px;
    max-height: 309px;
    text-align: justify;
}
.experiences .judulexp{
    font-family: 'Montserrat', sans-serif;
    color: #FBFDFB;
    padding-bottom: 3rem;
}
.experiences .instansi{
    font-size: 30px;
    margin-bottom: 5%;
}
.experiences2{
    padding: 2% 0% 2% 0%;
}
.experiences .tulisan a{
    text-decoration: none;
    color: #FBFDFB;
}
.portofolio{
    padding: 48px 48px 0px 48px;
}
.portofolio .judulporto{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    padding-bottom: 3rem;
}
.overflow {
    width: 80%;
    overflow-x: scroll;
}
.overflow .card{
    display: flex;
    align-items: flex-start;
    border: none;
}
.photoporto{
    margin: 0% 2% 0% 0%;
}
.photoporto.last{
    margin: 0%;
}
.photoporto img{
    width: 350.88px;
    height: auto;
}
.portofolio .navbar-nav{
    padding-top: 47px;
}
.portofolio .tulisan a{
    text-decoration: none;
    color: #000000;
}
.portofolio .tulisan{
    color: #000000;
}
.contact{
    background-color: #005073;
    padding: 48px 48px 0px 48px;
}
.contact .tulisan a{
    text-decoration: none;
    color: #FBFDFB;
}
.contact2{
    padding-bottom: 28px;
}
.contact .tulisan{
    color: #FBFDFB;
}
.contact .judulcontact{
    font-family: 'Montserrat', sans-serif;
    color: #FBFDFB;
    padding-bottom: 1rem;
}
.contact .contact2 .tulisan{
    max-width: 582px;
    max-height: auto;
    font-size: 54px;
    text-align: justify;
    margin-right: 28px;
}
.contact .contact2 .photo{
    margin-left: 28px;
}
.contact ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact li{
    display: inline;
}
.contact li a{
    padding: 30px;
    font-size: 80px;
    color: #000000;
}
#Home .tulisan a:hover{
    border-bottom: #FBFDFB;
    border-bottom-style: solid;
    border-width: 4px;
}
#Experience .tulisan a:hover{
    border-bottom: #FBFDFB;
    border-bottom-style: solid;
    border-width: 4px;
}
#Contact .tulisan .bottomnav:hover{
    border-bottom: #FBFDFB;
    border-bottom-style: solid;
    border-width: 4px;
}
#About .tulisan a:hover{
    border-bottom: #005073;
    border-bottom-style: solid;
    border-width: 4px;
}
#Portofolio .tulisan a:hover{
    border-bottom: #005073;
    border-bottom-style: solid;
    border-width: 4px;
}
.porto{
    padding: 48px 48px 0px 48px;
}
.porto2{
    width: 100%;
    padding: 43px 0 0 0;
}
.porto img{
    width: 200px;
    transition: 0.3s;
    margin-top: 10px;
}
.porto img:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 5px black;
    transition: 0.5s;
}
.porto3{
    width: 100%;
    padding: 43px 0 0 0;
}
#first{
    padding-left: 15px;
}
